@charset "utf-8";

.layui-outline-container .layui-outline-side {
  position: absolute;
  /*right: -210px;*/
  right: 20px;
  /*top: 32px;*/
  bottom: 0;
  width: 210px;
  z-index: 99999999;
  margin-top: 20px;
  top: 52px;
  transition: right 1s;
}

.layui-outline-container .layui-outline-side .layui-outline-side-fixed {
  position: fixed;
  z-index: 776;
  width: 210px;
  right: 20px;
}

/* 正常情况下,点击按钮添加class之后就隐藏这个 */
/*.layui-outline-container.layui-outline-retract .layui-outline-side {*/
/*  right: -210px;*/
/*}*/

.layui-outline-container.layui-outline-retract .layui-outline-side .layui-outline-side-fixed {
  right: -210px;
}

/* 正常情况下,这个按钮不显示 */
.layui-outline-container .layui-outline-bth{
  position: fixed;
  z-index: 776;
  top: 95px;
  right: 20px;
  display: none;
}

/* 正常情况下,点击按钮添加class之后就显示这个 */
.layui-outline-container.layui-outline-retract .layui-outline-bth{
  display: block;
}

@media screen and (max-width: 768px) {
  /* 平板移动设备,outline隐藏 */
  /*.layui-outline-container .layui-outline-side{*/
  /*  right: -210px;*/
  /*}*/

  .layui-outline-container .layui-outline-side .layui-outline-side-fixed {
    right: -210px;
  }

  /* 平板移动设备,点击按钮添加class之后outline显示 */
  /*.layui-outline-container.layui-outline-retract .layui-outline-side {*/
  /*  right: 20px;*/
  /*}*/

  .layui-outline-container.layui-outline-retract .layui-outline-side .layui-outline-side-fixed {
    right: 20px;
  }

  /* 平板移动设备,按钮显示 */
  .layui-outline-container .layui-outline-bth{
    display: block;
  }

  /* 平板移动设备,点击按钮添加class之后按钮不显示 */
  .layui-outline-container.layui-outline-retract .layui-outline-bth{
    display: none;
  }
}

.layui-outline-side-fixed .layui-outline-dir {
  position: relative
}

/* TODO 关闭按钮 */
.layui-outline-side-fixed .layui-outline-side-close{
  position: absolute;
  top: -15px;
  cursor: pointer;
}

/* TODO color */
.layui-outline-side-fixed .layui-outline-side-close:hover{
  color: #5fb878
}

/* TODO color */
.layui-outline-side-fixed .layui-outline-dir:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid #eee;
  content: ''
}

.layui-outline-side-fixed .layui-outline-ul {
  position: relative;
  max-height: calc(100vh - 210px);
  padding-left: 1px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .3s
}

.layui-outline-side-fixed .layui-outline-ul li{
  cursor: pointer;
}

.layui-outline-side-fixed .layui-outline-ul:hover {
  overflow: auto
}

/* TODO color */
.layui-outline-side-fixed .layui-outline-ul li {
  position: relative;
  padding-left: 16px;
  line-height: 28px;
  color: rgba(0,0,0,.35)
}

.layui-outline-side-fixed .layui-outline-ul li[level="2"] {
  padding-left: 32px
}

.layui-outline-side-fixed .layui-outline-ul li[level="3"] {
  padding-left: 48px
}

.layui-outline-side-fixed .layui-outline-ul li a {
  display: block
}

/* TODO color */
.layui-outline-side-fixed .layui-outline-ul li a:hover,
.layui-outline-side-fixed .layui-outline-ul li.layui-this a {
  color: #5fb878
}

/* TODO color */
.layui-outline-side-fixed .layui-outline-ul li.layui-this:before {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #5fb878
}

.layui-outline-side-fixed .layui-outline-ul li .layui-badge-dot {
  top: -2px;
  left: 3px
}


